body{
    margin: 0px;
    padding: 0px;
}
hr{
    margin: 0px;
    padding:0px;
}
header {
    position: relative;
    background-color: black;
    height: 92vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
  
 header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
 
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
}  

.img-campus{
    height:200px;
    width: 200px;
}

#logo-img{
    height: 2rem;
    width: 10rem;
}


#social-media-links{
    font-size: 2rem;
    line-height: 2.8rem;
}

#on-lets-be-friends{
    font-size: 2rem;
    line-height: 2.8rem;
}

#get-ingo-unordered-list{
    list-style-type: none;
    padding-left: 0px;
}

.img-our-facilitators{
    height: 150px;
    width: 150px
}

.img-our-program-mentors{
    height: 150px;
    width: 170px;
}

#be-in-touch-input-element{
    overflow: auto;
}


#nav-bar-color{
    background-color:#ffffff
}

#our-program-brochures-bgcolor{
    background-color: #73467B;
}

#persona-development-bgcolor{
    background-color: #73467B
}

#lets-talk-about-you-bgcolor{
    background-color: #EED6DB
}


.footer-jumbotron-headings{
    font-size: 18pt;
}

#aspire-to-achieve-the-pinnacle{
    font-size: 32pt;
}

#the-ascent-ayaansh-courses{
    font-size: 30pt;
}


#oxford-cambridge-english-bg{
    background-color: #EED6DB;
}

#the-success-pillars-bg{
    background-color: #EED6DB;
}

#the-ascent-ayaansh-courses-bg{
    background-color: #FFFFFF;
}

#our-english-laguage-courses-bg{
    background-color: #EED6DB;
}

#the-ascent-ayaansh-advantage-bg{
    background-color: #EED6DB
}

.sticky-bottom{
    position: sticky;
    top:90vh;
    z-index:99
}

.btn-nav-item{
    font-size: 11pt;
}


.navbar-inner {
    background:transparent;
}

.transparent-navbar-bg{
    background-color: transparent !important;
    background:transparent !important;
    border-color: transparent !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}

.univ{
    font-size: 48pt;
}

#digi-lit-certi{
    font-size: 32pt;
}

#feel-comp-confi{
    font-size:42pt;
}